<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genraft AI</title>
    <!-- Standard favicon -->
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Genraft AI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Documentation</a>
                </div>
            </div>
        </div>
    </nav>
    <h1>AI Agent Interaction</h1>
    <form id="talkForm">
        <input type="text" id="userInput" placeholder="Say something...">
        <button type="submit">Send</button>
    </form>
    <button type="button" class="btn btn-primary">Primary</button>
    <div id="response"></div>
    <script src="{{ url_for('static', filename='js/endpoints.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</body>

</html>